<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/icons.css">
    <link rel="stylesheet" href="styles/modules.css">
    <link rel="stylesheet" href="styles/layout.css">
  </head>
  <body>
    <h1>Hello World!!</h1>
    <p>Book Search Form</p>
    <form class="searchForm" method="post" action="/searches">
      <!-- <form method="post" action="/save?john=bald"> -->
      <!-- <form method="get" action="/search"> -->
      <input id="query" type="text" name="search" placeholder="bookynameysearchey" required> </br>
      <input id="intitle" type="radio" name="searchby" value="title" /> Title </br>
      <input id="inauthor" type="radio" name="searchby" value="author" /> Author </br>


      <button>Go</button>
    </form>
    
    <script src="../../server.js" async defer></script>
  </body>
</html>