<!DOCTYPE html>

  <%- include('../layout/head.ejs') %>

  <body>
    <h1>Hello World!!</h1>
    <p>Book Search Form</p>
    <form class="searchForm" method="post" action="/searches">
      <!-- <form method="post" action="/save?john=bald"> -->
      <!-- <form method="get" action="/search"> -->
      <input id="query" type="text" name="search" placeholder="bookynameysearchey" required> </br>
      <input id="intitle" type="radio" name="searchby" value="title" /> Title </br>
      <input id="inauthor" type="radio" name="searchby" value="author" /> Author </br>


      <button>Go</button>
    </form>
    
    <script src="../../server.js" async defer></script>
  </body>
</html>