<!DOCTYPE html>

  <%- include('./layout/head.ejs') %>

  <body>
    <%- include('./layout/header.ejs') %>
    <h1>Hello World!!</h1>

  


    
    <script src="../server.js" async defer></script>
  </body>
</html>