html {
  background-color: lightgrey;
  display: grid;


}

body {
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
} 

body {
background-color: lightblue;
font-size: 35px;
}

.searchForm {
  background-color: lightgoldenrodyellow;
  justify-content: center;
}