html {
  display: grid;
  width: 85%;
}

body {
  display: grid;
  justify-content: space-evenly;
  grid-column-start: 0;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: lightsteelblue;
} 



header li {
  display: inline-block;
  padding-bottom: 50px;
}

h1, h2, h3, h4 {
  text-align: center;
  padding-top: 10px;
}

img {
  display: block;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

p {
  width: 80%;
  font-size: 0.875rem;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}